# place this file in this location in the VM
# /lib/systemd/system/webapp.service

[Unit]
Description=Node.js Web Application
After=network.target

[Service]
WorkingDirectory=/opt/webapp
Type=simple
User=csye6225
ExecStart=npm run serve
Restart=no
LimitCORE=infinity


[Install]
WantedBy=multi-user.target
