# place this file in this location in the VM
# /lib/systemd/system/webapp.service

[Unit]
Description=Node.js Web Application
After=network.target

[Service]
Type=simple
User=csye6225
EnvironmentFile=/opt/webapp/.env.development
ExecStart=/usr/bin/node /opt/webapp/dist/src/index.js
Restart=on-failure
LimitCORE=infinity


[Install]
WantedBy=multi-user.target
